div#yui3-css-stamp {
	position: absolute !important;
	visibility: hidden !important;
}

h2 {
	color: var(--he-txt-od);
}

iframe#resourceobject {
	width: 100% !important;
	min-height: 600px !important;
	border: none;
}

div#notice {
	margin: 24px auto;
	border: none;
	color: var(--he-txt-od);
}

div#modal-content {
	background: var(--dp03);
	border: none;
	border-radius: 4px;
}

div#modal-footer {
	background: var(--dp03);
	border: none;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	align-content: center;
}

form {
	padding: 8px;
}

.singlebutton div {
	margin: 0;
	display: block;
}

div#top_footer:last-of-type {
	margin: 24px 0;
	padding: 0;
	border: none;
	background-color: var(--primary-color);
	height: 1px;
	overflow: hidden;
}
