:root {
	--primary-color: #89000c;
	--he-txt-od: #eee;
	--dp00: #383838;
	--dp01: #444;
	--dp02: #777;
}

body,
#page-footer {
	color: var(--he-txt-od);
	overflow-x: hidden;
}

div#yui3-css-stamp {
	position: absolute !important;
	visibility: hidden !important;
}

h2 {
	color: var(--he-txt-od);
}

iframe#resourceobject {
	width: 100% !important;
	min-height: 600px !important;
	border: none;
}

div#notice {
	margin: 24px auto;
	border: none;
	color: var(--he-txt-od);
}

div#modal-content {
	background: var(--dp02);
	border: none;
	border-radius: 4px;
}

div#modal-footer {
	background: var(--dp02);
	border: none;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	align-content: center;
}

form {
	padding: 8px;
}

.singlebutton div {
	margin: 0;
	display: block;
}

input[value="Yes"],
input[value="No"] {
	padding: 8px 16px !important;
	margin: 0 !important;
	border: none !important;
	border-radius: 4px !important;
	transition: 200ms ease all !important;
	background-color: var(--primary-color) !important;
}

input[value="Yes"]:hover,
input[value="No"]:hover {
	color: var(--he-txt-od) !important;
	transform: scale(1.1) !important;
	border: none !important;
}

input[value="No"] {
	background-color: var(--dp01) !important;
}

div#top_footer:last-of-type {
	margin: 24px 0;
	padding: 0;
	border: none;
	background-color: var(--primary-color);
	height: 1px;
	overflow: hidden;
}
