@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

body {
	font-family: "Inter", sans-serif;
}

body,
#page-footer {
	background: #383838;
}

#page-footer,
.copy {
	color: #eee;
}

body.has_dock {
	padding-left: 45px !important;
}

div#page {
	padding: 0 !important;
}

.container-fluid {
	overflow-x: hidden;
}

section#region-main {
	background: #555;
	overflow: auto;
	border-radius: 4px;
}

div#top-header {
	background: #555;
}

a.logo.pull-left {
	overflow: hidden;
	height: 120px;
	display: flex;
	align-content: center;
}

img {
	height: 120px;
	width: auto;
}

.page-hdng {
	flex-grow: 1;
	display: block;
	height: 100%;
	margin-left: 12px;
	padding-left: 12px;
}

a.brand {
	display: contents;
	font-family: "Inter", sans-serif;
	font-size: 16px;
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
	border: none;
	font-family: "Inter", sans-serif;
	font-size: 16px;
}
