@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
	--primary-color: #89000c;
	--he-txt-od: #eee;
	--dp00: #383838;
	--dp01: #444;
	--dp02: #555;
	--dp03: #777;
}

body,
#page .heading-title,
a.brand,
.navbar .nav > li > a {
	font-family: "Inter", sans-serif;
}

body,
#page-footer {
	background: var(--dp00);
}

#page-footer,
.copy {
	color: var(--he-txt-od);
}

body.has_dock {
	padding-left: 45px !important;
}

div#page {
	padding: 0 !important;
}

.container-fluid {
	overflow-x: hidden;
}

section#region-main {
	background: var(--dp02);
	overflow: auto;
	border-radius: 4px;
}

#region-main {
	color: var(--he-txt-od);
}

div#top-header {
	background: var(--dp02);
}

div#top-header > .container-fluid {
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-direction: row;
	align-items: center;
}

a.logo.pull-left {
	overflow: hidden;
	height: 120px;
	display: flex;
	align-content: center;
}

img {
	height: 120px;
	width: auto;
}

.page-hdng {
	flex-grow: 1;
	display: block;
	height: 100%;
	margin-left: 12px;
	padding-left: 12px;
}

a.brand {
	display: contents;
	font-size: 16px;
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
	border: none;
	font-size: 16px;
}

.loginpanel > div > center > a {
	display: block;
	width: 141px !important;
}
