<main>
	<div class="login-methods">
		<h1>IDP UNIPD - SINGLE SIGN ON</h1>
		<form
			class="my-login-form"
			id="user-login-form"
			action="() => window.location.href.slice(28)"
			method="post"
			onsubmit="return login_via_js()"
		>
			<div class="my-form-group">
				<label class="my-form-label" for="js_username"
					>Email <span class="required-field">*</span></label
				>
				<input
					class="my-form-control"
					id="j_username_js"
					name="j_username_js"
					type="text"
					value=""
					tabindex="1"
					placeholder="nome.cognome@unipd.it"
					required
				/>
			</div>
			<div class="my-form-group">
				<label class="my-form-label" for="password"
					>Password <span class="required-field">*</span></label
				>
				<input
					class="my-form-control"
					id="password"
					name="j_password"
					type="password"
					value=""
					tabindex="2"
					placeholder="••••••••"
					required
				/>
			</div>

			<button
				class="my-btn my-submit-btn"
				type="submit"
				name="_eventId_proceed"
				id="login_button_js"
				onclick="javascript:my_login_via_js()"
				tabindex="3"
			>
				Accedi
			</button>
		</form>
		<div class="alternative-wrapper">
			<div class="mid-line"></div>
			<span class="alternative">Oppure</span>
			<div class="mid-line"></div>
		</div>
		<div class="spid-login">
			<a
				href="#"
				class="my-btn spid-login-btn"
				spid-idp-button="#spid-idp-button-medium-get"
				><img
					class="spid-logo"
					src="https://upo.milovangudelj.com/images/spid-ico-circle-bb.svg"
					alt="Icona SPID"
				/>
				<span class="spid-logo">Entra con SPID</span>
			</a>
		</div>
	</div>
	<div class="help-accordion-wrap">
		<div class="help-accordion">
			<div class="accordion-title">
				<img
					class="accordion-icon"
					src="https://upo.milovangudelj.com/images/help-icon.svg"
					alt="Icona aiuto"
				/><span>Hai bisogno di aiuto?</span>
			</div>
			<div class="accordion-links-wrap">
				<a
					href="https://uniweb.unipd.it/password"
					target="_blank"
					class="accordion-link"
					><span>Ho un username di tipo </span
					><span class="emphasys">@studenti.unipd.it</span
					><span> o numerico (ad es. </span
					><span class="emphasys">1234567@unipd.it</span><span>)</span></a
				><a
					href="http://www.ict.unipd.it/servizi/servizi-utenti-istituzionali/password-unipdit/gestione-password-unipdit"
					target="_blank"
					class="accordion-link"
					><span>Ho un username per </span
					><span class="emphasys">dipendenti</span><span> (di tipo </span
					><span class="emphasys">@unipd.it</span><span>)</span>
				</a>
			</div>
		</div>
	</div>
</main>
<div class="other-logos left">
	<div class="logo-unipd-wrapper">
		<img
			class="logo-unipd"
			src="https://upo.milovangudelj.com/images/logo-unipd-chiaro.png"
			alt="Logo Università degli Studi di Padova"
		/>
	</div>
	<div class="logos">
		<a href="https://it.wikipedia.org/wiki/Single_sign-on" target="_blank"
			><img
				src="https://upo.milovangudelj.com/images/single-sign-on.png"
				alt="Logo Single Sign On"
		/></a>
	</div>
</div>
<div class="other-logos right">
	<div class="languages">
		<a class="lang-flag selected" href="#">
			<img
				src="https://shibidp.cca.unipd.it/idp/images/unipd_files/ico-ita.gif"
				alt="Bandiera Italiana"
				title="Italiano"
			/> </a
		><a class="lang-flag" href="#">
			<img
				src="https://shibidp.cca.unipd.it/idp/images/unipd_files/ico-eng.gif"
				alt="English Flag"
				title="English"
			/>
		</a>
	</div>
	<div class="logos">
		<a href="https://idem.garr.it/" target="_blank"
			><img
				src="https://upo.milovangudelj.com/images/logo-idem.png"
				alt="Logo Società Idem Garr AAI" /></a
		><a href="https://www.shibboleth.net/" target="_blank"
			><img
				src="https://upo.milovangudelj.com/images/logo-shibboleth-color.png"
				alt="Logo Società Shibboleth"
		/></a>
	</div>
</div>
<script>
	const accordion = document.querySelector(".help-accordion");
	const accordionLinks = document.querySelector(".accordion-links-wrap");
	accordionLinks.style.cssText = `max-height: 0px;`;

	let open = false;

	const toggleAccordion = (e) => {
		open = !accordion.contains(e.target) ? false : !open;

		open
			? accordion.classList.add("open")
			: accordion.classList.remove("open");
		accordionLinks.style.setProperty(
			"max-height",
			(open ? accordionLinks.scrollHeight : 0) + "px"
		);
	};

	document.addEventListener("click", (e) => toggleAccordion(e));
</script>
