<header class="my-header">
	<nav class="my-navbar">
		<ul class="my-nav-links">
			<li class="my-nav-link">
				<a
					target="_blank"
					rel="noreferrer noopener"
					href="https://www.unipd.it/"
					><img
						src="https://upo.milovangudelj.com/images/logo-unipd.svg"
						alt="Logo Unipd"
						class="my-nav-logo"
				/></a>
			</li>
			<li class="my-nav-link">
				<a href="">Orientamento +</a>
				<ul class="my-dropdown-menu">
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://www.dei.unipd.it/orientamento"
							>Orientamento DEI</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://www.unipd.it/orientamento"
							>Orientamento UNIPD</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://elearning.dei.unipd.it/mod/book/view.php?id=3&chapterid=7"
							>Piani di studio</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://www.youtube.com/channel/UCqjygEXQgwzM6eoqmAISU9A"
							>Canale YouTube DEI</a
						>
					</li>
				</ul>
			</li>
			<li class="my-nav-link">
				<a
					target="_blank"
					rel="noreferrer noopener"
					href="https://elearning.dei.unipd.it/mod/forum/view.php?id=23"
					>Avvisi +</a
				>
				<ul class="my-dropdown-menu">
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://elearning.dei.unipd.it/mod/forum/view.php?id=143351"
							>Eventi</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://elearning.dei.unipd.it/mod/forum/view.php?id=27"
							>Proposte Tesi e Stage</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://elearning.dei.unipd.it/mod/forum/view.php?id=29"
							>Forum studenti</a
						>
					</li>
				</ul>
			</li>
			<li class="my-nav-link">
				<a href="">Risorse utili +</a>
				<ul class="my-dropdown-menu">
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://elearning.dei.unipd.it/orari"
							>Portale studenti</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://elearning.dei.unipd.it/orari"
							>Orario delle lezioni</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://www.dei.unipd.it/esami"
							>Calendario appelli</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://www.ingegneria.unipd.it/"
							>Scuola di Ingegneria</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://biblioingegneriasomeda.cab.unipd.it/"
							>Biblioteca "G. Someda"</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://www.ingegneria.unipd.it/inglese-ingegneria-0"
							>Inglese per ingegneria</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://elearning.dei.unipd.it/mod/page/view.php?id=1279"
							>Help di BachecheDEI</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://www.dei.unipd.it/"
							>Sito del dipartimento DEI</a
						>
					</li>
					<li class="my-dropdown-link">
						<a
							target="_blank"
							rel="noreferrer noopener"
							href="https://elearning.dei.unipd.it/gestnupro/"
							>GestNuPro</a
						>
					</li>
				</ul>
			</li>
			<li class="my-nav-link">
				<a
					target="_blank"
					rel="noreferrer noopener"
					href="https://elearning.dei.unipd.it/mod/book/view.php?id=3&chapterid=47"
					>Segreteria didattica</a
				>
			</li>
			<li class="my-nav-link">
				<a
					target="_blank"
					rel="noreferrer noopener"
					href="https://webmail.studenti.unipd.it/"
					>Webmail studenti</a
				>
			</li>
		</ul>
		<div id="my-profile-menu" class="my-profile-menu">
			<span>Milovan Gudelj <img src="https://upo.milovangudelj.com/images/profile-placeholder.png" alt=""></span>
			<ul class="my-dropdown-menu">
				<li class="my-dropdown-link">
					<a
						target="_blank"
						rel="noreferrer noopener"
						href="https://elearning.dei.unipd.it/my/"
						>Dashdoard</a
					>
				</li>
				<li class="my-dropdown-link">
					<a
						target="_blank"
						rel="noreferrer noopener"
						href="https://elearning.dei.unipd.it/user/profile.php?id=27291"
						>Profilo</a
					>
				</li>
				<li class="my-dropdown-link">
					<a
						target="_blank"
						rel="noreferrer noopener"
						href="https://elearning.dei.unipd.it/grade/report/overview/index.php"
						>Valutazioni</a
					>
				</li>
				<li class="my-dropdown-link">
					<a
						target="_blank"
						rel="noreferrer noopener"
						href="https://elearning.dei.unipd.it/message/index.php"
						>Messaggi</a
					>
				</li>
				<li class="my-dropdown-link">
					<a
						target="_blank"
						rel="noreferrer noopener"
						href="https://elearning.dei.unipd.it/user/preferences.php"
						>Preferenze</a
					>
				</li>
				<li class="my-dropdown-link">
					<a
						target="_blank"
						rel="noreferrer noopener"
						href="https://elearning.dei.unipd.it/login/logout.php"
						>Esci</a
					>
				</li>
			</ul>
		</div>
	</nav>
</header>
