@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

body {
	background-color: var(--dp00);
	color: var(--he-text);
}

.my-header {
	background-color: brown;
	display: flex;
	justify-content: center;
	background-color: var(--dp01);
	z-index: 999;
}

.my-navbar {
	max-width: 1300px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.my-nav-links {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 8px;
}

.my-nav-link {
	padding: 8px 16px;
	font-size: 14px;
	position: relative;
}

.my-nav-link:hover,
.my-dropdown-link:hover {
	transition: all ease 0.2s;
	color: var(--me-text);
}

.my-dropdown-menu {
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	width: max-content;
	background-color: var(--dp02);
	border-radius: 8px;
	height: 0;
	overflow: hidden;
}

.my-dropdown-link {
	padding: 8px 16px;
	font-size: 14px;
	color: var(--he-text);
}

.my-nav-link:hover .my-dropdown-menu {
	height: auto;
}

.my-nav-link > a,
.my-dropdown-link > a {
	color: inherit;
	text-decoration: none;
}

.my-nav-link > a:hover,
.my-nav-link > a:focus,
.my-nav-link > a:visited,
.my-dropdown-link > a:hover,
.my-dropdown-link > a:focus,
.my-dropdown-link > a:visited {
	color: inherit;
	text-decoration: none;
}

.my-profile-menu {
	width: 32px;
	height: 32px;
	background-color: var(--dp03);
	border-radius: 50%;
	/* display: none; */
}

.my-nav-logo {
	height: 32px;
}